.primeira-div{
    background-color: aqua;
    height: 30px;
    width: 300px;
}

.segunda-div{
    background-color: rgb(253, 2, 2);
    height: 30px;
}

.primeiro-link{
    background-color: violet;
}

.segundo-link{
    background-color: yellow;
}

strong{
    background-color: green;

}

.terceira-div{
    background-color: orange;
    height: 30px;
    width: 300px;
    display: inline-block;
}

.quarta-div{
    background-color: pink;
    height: 30px;
    width: 300px;
    display: inline-block;
}